---
import LayoutSideBar from "@layouts/LayoutSideBar.astro";
import { OrganizationProfile, OrganizationList } from "@clerk/astro/components";
import Card from "@components/Card.astro";
---

<LayoutSideBar title="Organizations Overview">
	<div class="bg-gradient-to-r from-slate-100 to-slate-200 dark:from-slate-900 dark:to-slate-800 text-slate-800 dark:text-slate-100 mb-20 p-4 lg:p-16 shadow-xl shadow-slate-200 dark:shadow-slate-900">
		<div class="container mx-auto px-4 py-8 flex flex-row gap-6 justify-center items-center ">
			<Card hasHoverEffect={false}>
				<h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-6">Organization List</h2>
				<OrganizationList />
			</Card>
			<Card hasHoverEffect={false}>
				<h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-6">Organization Profile</h2>
				<OrganizationProfile />
			</Card>
		</div>
	</div>
</LayoutSideBar>
