---
import { HoursGraph } from "@components/sprints/HoursGraph";
import SiteLayout from "@layouts/SiteLayout.astro";
import "@css/globals.css";
---

<SiteLayout title="Test">
	<div class="w-full flex flex-row">
		<HoursGraph client:load />
	</div>
</SiteLayout>
