---
import SiteLayout from "@layouts/SiteLayout.astro";
import { OrganizationProfile, OrganizationList } from "@clerk/astro/components";
import Card from "@components/Card.astro";
---

<SiteLayout title="Organizations">
	<div class="container mx-auto px-4 py-8 flex flex-row gap-6 justify-center items-center">
		<Card hasHoverEffect={false}>
			<h2 class="card-title text-2xl mb-6">Organization List</h2>
			<OrganizationList />
		</Card>
		<Card hasHoverEffect={false}>
			<h2 class="card-title text-2xl mb-6">Organization Profile</h2>
			<OrganizationProfile />
		</Card>
	</div>
</SiteLayout>
