---
interface Props {
  hasHoverEffect?: boolean;
}

const { hasHoverEffect = true } = Astro.props;
---

<div class={`p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 w-full ${hasHoverEffect ? 'hover:bg-gray-50 dark:hover:bg-gray-700 transition-colors duration-200' : ''}`}>
  <slot />
</div>
