---
import { languages } from "@i18n/ui";
import { getLangFromUrl, useTranslatedPath } from "@i18n/utils";
import ThemeSelector from "@components/ThemeSelector";
import { SignedIn, UserButton, SignedOut, SignInButton } from "@clerk/astro/components";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const currentPath = Astro.url.pathname;
const pathWithoutLang = currentPath.replace(/^\/(nl_BE)/, "") || "/";
---

<div class="flex gap-6">
	<ThemeSelector client:load />

	<ul class="menu menu-horizontal bg-base-200 rounded-box">
		{
			Object.entries(languages).map(([code, label]) => (
				<li>
					<a href={translatePath(pathWithoutLang, code)} class={code === lang ? "active" : ""}>
						{label}
					</a>
				</li>
			))
		}
	</ul>

	<SignedOut>
		<SignInButton
			mode="modal"
			forceRedirectUrl={translatePath("/login")}
			class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
		/>
	</SignedOut>
	<SignedIn>
		<UserButton />
	</SignedIn>
</div>
