<p class="my-10 text-sm text-center text-gray-500">
	&copy; 2024 —
	<a href="https://maxime-brusselle.web.app/" class="hover:underline" target="_blank"
		>Maxime Brusselle</a
	>. All rights reserved.
</p>
